// 投资列表
#invest{
    h4{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .btnset{
        margin:20px 0;
        span{
            color: #777;
        }
        .btn-group{
            margin-left:30px;
            button{
                width: 100px;
            }
        }  
    }
    .table{
        tr{
            th{
              color:#999999
            }
        }
        .btn{
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }
    }
}