// 公共样式
/* 浮动样式 */
.fl{
    float:left;
}
.fr{
    float:right;
}
/* 清除浮动 */
.clear{
    clear:both;
}
/* 清除固定结构浮动 */
.clearfix::after{
    content:"";
    width:0;
    height:0;
    display:block;
    clear:both;
}
#personaldata{
    .personalr{
            .panel-body{
                .form-horizontal{
                    width: 600px;
                    margin: 0 auto;
                    .form-group{
                        .btn{
                            width: 100px;
                            background: #337ab7;
                            color:#fff;
                        }
                        .col-sm-10{
                            .content{
                                color:#337ab7;
                                margin-top:10px;
                            }
                            .idcard{
                                width: 160px;
                                height: 150px;
                                border:1px solid #e3e3e3;
                                text-align: center;
                                padding-top:5px;
                                margin-right:10px;
                            }
                        }
                    }
                }
            }
    }

}